<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
   
  </head>
  <body>
    <h3>Hello, {{request.session.name}}!</h3>
    <form action="{% url 'login:logout' %}" method="POST">
      {% csrf_token %}
      <input class="logout" type="submit" value="Logout">
    </form>

    <h3>Your Trip Schedules</h3>
      <table>
        <tr>
          <th>Destination</th>
          <th>Travel Start Date</th>
          <th>Travel End Date</th>
          <th>Plan</th>
        </tr>
        {% if created_by_me %}
        {% for item in created_by_me %}
        <tr>
          <td><a href="{% url 'blackbelt:trip' id=item.id %}">{{item.destination}}</a></td>
          <td>{{item.date_from}}</td>
          <td>{{item.date_to}}</td>
          <td>{{item.description}}</td>
        </tr>
        {% endfor %}
        {% endif %}
      </table>

      <h3>Other User's Travel Plans</h3>
        <table>
          <tr>
            <th>Name</th>
            <th>Destination</th>
            <th>Travel Start Date</th>
            <th>Travel End Date</th>
            <th>Do you want to join?</th>
          </tr>
          {% if created_by_other %}
          {% for item in created_by_other %}
          <tr>
            <td>{{item.creator.name}}</td>
            <td><a href="{% url 'blackbelt:trip' id=item.id %}">{{item.destination}}</a></td>
            <td>{{item.date_from}}</td>
            <td>{{item.date_to}}</td>
            <td>
              <form action="{% url 'blackbelt:join' id=item.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Join Trip">
              </form>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </table>

        <br>
        <form action="{% url 'blackbelt:add_travel_plan' %}" method="POST">
          {% csrf_token %}
          <input class="logout" type="submit" value="Add Travel Plan">
        </form>
  </body>
</html>
